<% content_for :title do %>
  LaptopHits.com - Find out what laptops people recommend.
<% end %>

<% content_for :header do %>
<h1><%= link_to "LaptopHits.com", root_path %></h1>
<div class="tagline">
  <h2>See what laptops people recommend these days. </h2>
  <p>Based on <%= @mentions_count %> laptop mentions on Reddit</p>
</div>
<% end %>

<% content_for :sidebar do %>
<%= link_to "Clear all filters", products_path %>
<h4>Time: </h4>
<ul>
  <li><%= link_to_unless params[:after].nil?, "All time", products_path(params.except(:controller, :action, :page).merge({after: nil})) %></li>
  <li><%= link_to_unless params[:after] == "1w", "Past week", products_path(params.except(:controller, :action, :page).merge({after: "1w"})) %></li>
  <li><%= link_to_unless params[:after] == "1m", "Past month", products_path(params.except(:controller, :action, :page).merge({after: "1m"})) %></li>
  <li><%= link_to_unless params[:after] == "1y", "Past year", products_path(params.except(:controller, :action, :page).merge({after: "1y"})) %></li>
</ul>

<%= specification_filters(@attr_distr, params) %>
<% end %>

<h3>Recommended laptops</h3>
<% if @products.length == 0 %>
  <em>Sorry, there are no results matching your criteria.</em>
<% else %>
  <%= link_to "Filters", "#", class: 'mobile-filter' %>

  <ol start="<%= (params[:page].to_i <= 1 ? 0 : params[:page].to_i - 1)*25 + 1%>">
    <%= render partial: "product", collection: @products %>
  </ol>
  <%= will_paginate @products %>
<% end %>
