<% content_for :title do %>
  LaptopHits.com - Find out what laptops people recommend.
<% end %>

<% content_for :header do %>
<h1><%= link_to "LaptopHits.com", root_path %></h1>
<div class="tagline">
  <h2>See what laptops people recommend these days. </h2>
  <p>Based on <%= @mentions_count %> laptop mentions on Reddit</p>
</div>
<% end %>

<% content_for :sidebar do %>
<%= link_to "Clear all filters", products_path %>
<h4>Time: </h4>
<ul>
  <li><%= link_to_unless params[:after].nil?, "All time", products_path(params.except(:controller, :action, :page).merge({after: nil})) %></li>
  <li><%= link_to_unless params[:after] == "1w", "Past week", products_path(params.except(:controller, :action, :page).merge({after: "1w"})) %></li>
  <li><%= link_to_unless params[:after] == "1m", "Past month", products_path(params.except(:controller, :action, :page).merge({after: "1m"})) %></li>
  <li><%= link_to_unless params[:after] == "1y", "Past year", products_path(params.except(:controller, :action, :page).merge({after: "1y"})) %></li>
</ul>
<h4>Prices: </h4>
<ul>
  <li><%= link_to_unless params[:price_from].nil? && params[:price_to].nil?, "All prices", products_path(params.except(:controller, :action, :page).merge({price_from: nil, price_to: nil})) %></li>
  <li><%= link_to_unless params[:price_to].to_i == 400, "$0 - $400 (#{@prices[0]})", products_path(params.except(:controller, :action, :page).merge({price_from: 0, price_to: 400})) if @prices[0] > 0%></li>
  <li><%= link_to_unless params[:price_from].to_i == 400 && params[:price_to].to_i == 600, "$400 - $600 (#{@prices[400]})", products_path(params.except(:controller, :action, :page).merge({price_from: 400, price_to: 600})) if @prices[400] > 0 %></li>
  <li><%= link_to_unless params[:price_from].to_i == 600 && params[:price_to].to_i == 800, "$600 - $800 (#{@prices[600]})", products_path(params.except(:controller, :action, :page).merge({price_from: 600, price_to: 800})) if @prices[600] > 0 %></li>
  <li><%= link_to_unless params[:price_from].to_i == 800 && params[:price_to].to_i == 1000, "$800 - $1000 (#{@prices[800]})", products_path(params.except(:controller, :action, :page).merge({price_from: 800, price_to: 1000})) if @prices[800] > 0 %></li>
  <li><%= link_to_unless params[:price_from].to_i == 1000 && params[:price_to].to_i == 1500, "$1000 - $1500 (#{@prices[1000]})", products_path(params.except(:controller, :action, :page).merge({price_from: 1000, price_to: 1500})) if @prices[1000] > 0 %></li>
  <li><%= link_to_unless params[:price_from].to_i == 1501 && params[:price_to].nil?, "$1500+ (#{@prices[1500]})", products_path(params.except(:controller, :action, :page).merge({price_from: 1500, price_to: nil})) if @prices[1500] > 0 %></li>
</ul>

<h4>Brands: </h4>
<%= brand_filter(@brands, params) %>

<h4>Operating Systems: </h4>
<%= operating_system_filter(@operating_systems, params) %>

<h4>Display sizes: </h4>
<%= display_size_filter(@display_sizes, params) %>

<h4>Display resolution: </h4>
<%= display_resolution_filter(@display_resolutions, params) %>

<h4>Ram: </h4>
<%= ram_filter(@rams, params) %>

<h4>Processor: </h4>
<%= processor_filter(@processors, params) %>
<% end %>


<h3>Recommended laptops</h3>
<% if @products.length == 0 %>
  <em>Sorry, there are no results matching your criteria.</em>
<% else %>
  <%= link_to "Filters", "#", class: 'mobile-filter' %>

  <ol start="<%= (params[:page].to_i <= 1 ? 0 : params[:page].to_i - 1)*10 + 1%>">
    <%= render partial: "product", collection: @products %>
  </ol>
  <%= will_paginate @products %>
<% end %>
